<%= render "layouts/public_navbar" %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-container">
        <h4 class="center">Vacancy</h4>
        <div class="row">
          <%= render partial: 'layouts/vacancy_show' %>
        </div>
      </div>
    </div>
  </div>
</div>
