<%= render "layouts/public_navbar" %>
<h4 class="center">Public Menu</h4>
<br>
<div class="container">

  <div class="row">
    <%= render partial: 'layouts/menu_option', locals: {path: list_vacancies_path(), icon: 'backup', title: 'Vacancies'} %>
  </div>
</div>