<%= render "layouts/navbar" %>
<h4 class="center">Menu</h4>
<br>
<div class="container">

  <div class="row">
    <% if current_candidate.role == 'admin'%>
      <div class="col s6 m3">
        <%= link_to admins_path(), class: "btn module-btn" do %>
          <div class="btn-container">
            <i class="material-icons">assignment_ind</i>
            <h6>Admin Interface</h6>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col s6 m3">
      <%= link_to users_path(), class: "btn module-btn" do %>
        <div class="btn-container">
          <i class="material-icons red-text">account_balance</i>
          <h6>Public Interface</h6>
        </div>
      <% end %>
    </div>
  </div>
</div>
