<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-container center">
        <h2>Log in</h2>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>