<div class="col s6 m3">
  <%= link_to path, class: "btn module-btn" do %>
    <div class="btn-container">
      <i class="material-icons"><%= icon %></i>
      <h6><%= title %></h6>
    </div>
  <% end %>
</div>